// CLASE PARA LOS COLLAPSABLES
.content {
  width: 100%;
  display: none;
}

.js-collapsable.open .content {
  width: 100%;
  display: block;
}

.design {
  &__title {
    font-family: $fontMain;
    font-weight: bold;
    color: $secondary-color;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 15px;
  }

  &__subtitle {
    margin-left: 20px;
    font-family: $fontMain;
    color: $secondary-color;
    font-size: 14px;
  }
}

.form__box__position {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fa-object-ungroup--design {
  color: $dull-orange;
}

.fa-angle-up--design {
  font-size: 20px;
  color: $secondary-color;
}

.js-collapsable.open .fa-angle-up--design {
  font-size: 20px;
  color: $secondary-color;
  transform: rotate(180deg);
}

.design__form {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &--items {
    display: flex;
    flex-direction: column;
    padding: 10px 0 34px 0;
  }
}

.form__item {
  margin: 10px 0;
  display: none;
}

.color__box {
  display: flex;
  padding: 10px 0;
  align-items: center;
}

.radio_btn {
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid lightgrey;
}
