.folded__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 20px;
}

.share {
  &__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $borderLine;
    cursor: pointer;
  }

  &__box__position {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__title {
    font-family: $fontMain;
    font-weight: bold;
    color: $secondary-color;
    font-size: 18px;
    margin-left: 10px;
  }

  &__button {
    width: 100%;
    border-bottom: 1px solid $borderLine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  &__button--orange {
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    background-color: $yellow-mustard;
    color: $dull-orange;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    width: 199px;
    height: 70px;
    border-radius: 22.5px;
    border: solid 2px $dull-orange;
    transition: all 3s;
    cursor: pointer;
  }
  &__button--orange:hover {
    background-color: $dull-orange;
    border-radius: 0%;
    color: $light-khaki;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  }

  &__button--grey {
    width: 199px;
    height: 50px;
    border-radius: 12px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-style: none;
    margin-bottom: 40px;
    background-color: #d5d5d5;
  }

  &__button--orange--text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #fff;
    margin: 0;
  }

  &__button--orange--icon {
    color: white;
    font-size: 22px;
  }
  &__result {
    color: $dull-orange;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-link {
      color: $dull-orange;
    }
  }

  &__loader {
    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: $dull-orange;
      margin: 35px 5px;
      opacity: 0;
    }

    span:nth-child(1) {
      animation: opacitychange 1s ease-in-out infinite;
    }

    span:nth-child(2) {
      animation: opacitychange 1s ease-in-out 0.33s infinite;
    }

    span:nth-child(3) {
      animation: opacitychange 1s ease-in-out 0.66s infinite;
    }
  }

  @keyframes opacitychange {
    0% {
      opacity: 0;
    }

    60% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

  .fa-share-alt--share {
    color: $dull-orange;
  }

  .fa-angle-down--up {
    font-size: 20px;
    color: $secondary-color;
  }
}
